@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.app {
  @apply relative w-full h-screen overflow-hidden;
}

.home {
  @apply w-fit xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-8 xl:px-36 sm:p-8 p-6 max-xl:gap-7 absolute z-10;
}

.home-content {
  @apply flex-1 xl:justify-center justify-start flex flex-col gap-10;
}

.head-text {
  @apply xl:text-[10rem] text-[6rem] xl:leading-[11rem] leading-[7rem] font-black text-black;
}

.download-btn {
  @apply w-14 h-14 flex justify-center items-center rounded-full glassmorphism cursor-pointer outline-none;
}

.editortabs-container {
  @apply glassmorphism w-16 border-[2px] rounded-lg flex flex-col justify-center items-center ml-1 py-4 gap-4;
}

.filtertabs-container {
  @apply absolute z-10 bottom-5 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
}

.aipicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] rounded-md flex flex-col gap-4;
}

.aipicker-textarea {
  @apply w-full bg-transparent text-sm border border-gray-300 p-2 outline-none flex-1;
}

.filepicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] flex flex-col rounded-md;
}

.filepicker-label {
  @apply border border-gray-300 py-1.5 px-2 rounded-md shadow-sm text-xs text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 cursor-pointer w-fit;
}

.tab-btn {
  @apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

input[type="file"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.sketch-picker {
  width: 170px !important;
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  border-radius: 6px !important;
}

.sketch-picker > div:nth-child(3) {
  display: none !important;
}

.loginadmin-header {
  width: 100%;
  padding: 20px 0 0 20px;
}

.loginadmin-header h1 {
  font-size: 1rem;
  font-weight: 700;
  color: #111827;
  cursor: pointer;
  width: fit-content;
  padding: 10px 30px;
  background-color: #FBDA10;
  border-radius: 50px;
  transition: 0.3s;
}

.loginadmin-header h1:hover {
  transform: scale(1.1);
}

.loginadmin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: rgba(255, 255, 255, 0.25);
}

.loginadmin-form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: #111827;
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.loginadmin-title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.loginadmin-form {
  margin-top: 1.5rem;
}

.loginadmin-input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.loginadmin-input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.loginadmin-input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.loginadmin-input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.loginadmin-forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
  transition: 0.3s;
}

.loginadmin-forgot a,
.loginadmin-signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.loginadmin-forgot a:hover,
.loginadmin-signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
  cursor: pointer;
}

.loginadmin-sign {
  display: block;
  width: 100%;
  background-color: #FBDA10;
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.loginadmin-social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.loginadmin-line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.loginadmin-social-message .loginadmin-message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.loginadmin-social-icons {
  display: flex;
  justify-content: center;
}

.loginadmin-social-icons .loginadmin-icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.loginadmin-social-icons .loginadmin-icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.loginadmin-signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 20px 0 20px 0;
  background-color: #111827;
  color: white;
}

/* ------- Signup ------- */

.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  font-family: 'Arial', sans-serif;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
}

.signup-header {
  margin-bottom: 2rem;
}

.signup-logo {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-logo img {
  width: 50px;
  height: 50px;
}

.signup-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0 0;
  color: #333;
}

.signup-subtitle {
  margin-top: 0.2rem;
  font-size: 0.95rem;
  color: #444;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup-input-group {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #FFF3AB;
  padding: 0.8rem 1rem;
  border-radius: 12px;
}

.signup-icon {
  margin-right: 0.7rem;
  font-size: 1.2rem;
}

.signup-input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 1rem;
  color: #333;
}

.signup-button {
  padding: 0.9rem;
  background-color: #FBDA10;
  color: rgba(17, 24, 39, 1);
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-button:hover {
  background-color: #968200;
  color: white;
}

.signup-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.signup-line {
  flex: 1;
  height: 1px;
  background-color: #aaa;
}

.signup-or {
  margin: 0 0.8rem;
  color: #444;
}

.signup-social {
  display: flex;
  justify-content: center;
  gap: 4rem;
  font-size: 1.5rem;
}


.signup-social-icon {
  cursor: pointer;
  transition: 0.3s;
}

.signup-social-icon:hover {
  transform: scale(1.1);
}

.signup-footer {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: rgba(17, 24, 39, 1);
}

.signup-link {
  color: rgba(17, 24, 39, 1);
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}

.signup-link:hover {
  text-decoration: none;
  color: #FBDA10;
}
